<div style="width: 98%; height: 1305px;">

	<!-- Mensajes de Error -->
	<% if patient_request.patient.errors.any? %>
		<% patient_request.patient.errors.messages.each do | field, message | %>
			<div class="alert-box error" style="width: 75%; color: #FFF; margin-bottom: 5px;" onclick="$(this).remove();">
				<b style="margin-right: 5px;">Solicitud no registrada:</b> <%= message[0] %>
			</div>
		<% end %>
	<% end %>

	<% if patient_request.errors.any? %>
		<% patient_request.errors.messages.each do | field, message | %>
			<div class="alert-box error" style="width: 75%; color: #FFF;" onclick="$(this).remove();">
				<b style="margin-right: 5px;">Solicitud no registrada:</b> <%= message[0] %>
			</div>
		<% end %>
	<% end %>

	<!-- FORMULARIO NUEVA SOLICITUD -->
	<%= nested_form_for(patient_request, :html => { :id => "form-new-lue", :class => "pure-form pure-form-stacked" }) do |request_form| %>

		<!-- PACIENTE -->
		<%= fields_for patient_request.patient do |patient_form| %>

			<!-- DATOS PERSONALES Y ESCOLARES -->
			<div style="width: 100%; float: left; height: 320px;">

				<div class="form-inputs" style="width: 48%; height: 100%; float: left;">
					<div class="form-inputs-title">DATOS PERSONALES</div>

					<!-- NOMBRES -->
					<div style="margin-left: 4%; margin-top: 8px;">
						<%= patient_form.label :names do %>Nombre(s): <% end %>
						<%= patient_form.text_field :names, autofocus: true, :size => 50, :maxlength => 25, :required => true %>
					</div>

					<!-- A PATERNO -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :p_last_name do %>Apellido Paterno: <% end %>
						<%= patient_form.text_field :p_last_name, autofocus: true, :size => 50, :maxlength => 20, :required => true %>
					</div>

					<!-- A MATERNO -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :m_last_name do %>Apellido Materno: <% end %>
						<%= patient_form.text_field :m_last_name, autofocus: true, :size => 50, :maxlength => 20, :required => true %>
					</div>

					<!-- FECHA DE NACIMIENTO -->
					<div style="margin-left: 4%; margin-top: 10px;" class="form-date">
						<div>Fecha de Nacimiento:</div>
						<%= patient_form.date_select :birth, :order => [:day, :month, :year], :start_year => 1970, :end_year => 2010,
						:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
							'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'] %>
					</div>
					
					<!-- SEXO -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :sex do %>Sexo: <% end %>

						<div style="width: 100%; margin-top: 3px; margin-left: 1.2%; float: left;">
							<%= patient_form.radio_button :sex, 'm', :style => "float: left;", :checked => true %>
							<%= patient_form.label :sex, 'Masculino', :value => 'm', :style => "float: left; margin-left: 3px;" %>
						</div>

						<div style="width: 15%; margin-top: 3px; margin-left: 1.2%; float: left;">
							<%= patient_form.radio_button :sex, 'f', :style => "float: left;" %>
							<%= patient_form.label :sex, 'Femenino', :value => 'f', :style => "float: left; margin-left: 3px;" %>
						</div>
					</div>
				</div>

				<div class="form-inputs" style="width: 48%; height: 100%; float: left; margin-left: 1.5%;">
					<div class="form-inputs-title">DATOS ESCOLARES</div>

					<!-- NUMERO DE CUENTA -->
					<div style="margin-left: 4%; margin-top: 8px; ">
						<%= patient_form.label :account_number do %>No. de cuenta: <% end %>
						<%= patient_form.text_field :account_number, autofocus: true, :size => 20, class: "num-field", :maxlength => 9, :required => true %>
					</div>

					<!-- CARRERA -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :career, "Carrera: " %>
						<%= patient_form.select :career, carrer_options %>
					</div>

					<!-- AÑO DE INICIO -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :init_school do %>Año de inicio: <% end %>
						<%= patient_form.select :init_school, init_school_years %>
					</div>

					<!-- SEMESTRE -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :semester do %>Semestre en curso: <% end %>
						<%= patient_form.text_field :semester, autofocus: true, :size => 5, :maxlength => 2, class: "num-field", :required => true %>
					</div>

					<!-- MATERIAS CURSADAS -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= patient_form.label :failed_subjects do %>Número de materias adeudadas: <% end %>
						<%= patient_form.text_field :failed_subjects, autofocus: true, :size => 5, :maxlength => 2, class: "num-field", :required => true %>
					</div>
				</div>
			</div>

			<!-- CONTACTOS -->
			<div class="form-inputs" style="width: 48%; float: left; margin-top: 42px;">
				<div class="form-inputs-title">CONTACTOS</div>

				<!-- TELEFONO 1 -->
				<div style="margin-left: 2%; margin-top: 8px;">
					<%= patient_form.label :telephone1 do %>Telefono: <% end %>
					<%= patient_form.text_field :telephone1, autofocus: true, class: "num-field", :maxlength => 13 %>
				</div>

				<!-- TELEFONO 2 -->
				<div style="margin-left: 2%; margin-top: 10px;">
					<%= patient_form.label :telephone2 do %>Celular: <% end %>
					<%= patient_form.text_field :telephone2, autofocus: true, class: "num-field", :maxlength => 13 %>
				</div>

				<!-- EMAIL -->
				<div style="margin-left: 2%; margin-top: 10px;">
					<%= patient_form.label :email %>
					<%= patient_form.email_field :email, autofocus: true, :required => true %>
				</div>
			</div>
		<% end %>

		<!-- SOLICIUD -->
		<div style="width: 100%; float: left;">
			<div class="form-inputs" style="width: 98.5%; float: left;">

				<!-- COLUMNA IZQUIERDA -->
				<div style="width: 50%; float: left;" class="colum-form-inputs">
					<div class="form-inputs-title">DATOS DE INGRESO</div>

					<!-- MOTIVOS -->
					<div style="margin-left: 4%; margin-top: 8px;">
						<div style="width: 100%; float: left; margin-bottom: -1px;">
							¿Cuáles son tus motivos de consulta?
						</div>

						<div style="width: 68%; float: left; margin-left: 2.4%;">
							<%= render partial: "reasons_input", locals: { form: request_form } %>
						</div>
					</div>

					<!-- CONDICION -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= request_form.label :condition_type_id do %>¿Cómo te sientes actualmente?<% end %>
						<%= request_form.select :condition_type_id, ConditionType::options_for_select %>
					</div>

					<!-- DINERO -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= request_form.label :money do %>¿Cuánto dinero dispones para gastos personales (por semana)?<% end %>
						<%= request_form.text_field :money, autofocus: true, :size => 6 , :required => true, class: "num-field"%>
					</div>

					<!-- ATENCION PREVIA -->
					<div style="width: 100%; margin-left: 4%; margin-top: 10px; height: 57px;">
						<%= request_form.label :pre_care do %>¿Anteriormente habías asistido a algún espacio de atención psicológica?<% end %>

						<div style="width: 100%; margin-top: 3px; margin-left: 2.4%; float: left;">
							<%= request_form.radio_button :pre_care, 's', :style => "float: left;" %>
							<%= request_form.label :pre_care, 'Si', :value => 's', :style => "float: left; margin-left: 3px;" %>
						</div>

						<div style="width: 30%; margin-top: 3px; margin-left: 2.4%; float: left;">
							<%= request_form.radio_button :pre_care, 'n', :style => "float: left;", :checked => true %>
							<%= request_form.label :pre_care, 'No', :value => 'n', :style => "float: left; margin-left: 3px;" %>
						</div>
					</div>

					<!-- COMO CONOCIO -->
					<div style="margin-left: 4%; margin-top: 10px;">
						<%= request_form.label :how_met, :style => "margin-bottom: 6px;" do %>
							¿Cómo te enteraste de los servicios que ofrecemos?
						<% end %>

						<div style="width: 60%; float: left; margin-left: 2.4%;">

							<!-- PRIMERA VEZ -->
							<% if patient_request.how_met.nil? %>
								<%= fields_for :how_met do | how_met_f | %>
									<% HowMetType.all.each do | how_met_type | %>
										<div style="width: 90%; position: relative; margin-bottom: 10px; float: left;">

											<%= how_met_f.radio_button :how_met_type_id, how_met_type.id.to_s, :style => "float: left;", :onclick => "howMetSelected(this);", "data-other" => how_met_type.is_other?, :required => true %>
											<%= how_met_f.label :how_met_type_id, how_met_type.name, :value => how_met_type.id.to_s, :style => "position: absolute; left: 15px; top: -2px;" %>

											<% if how_met_type.is_other? %>
												<%= how_met_f.text_field :other_name, autofocus: true, :size => 10, :style => "position: absolute; top: -9px; left: 40px;", :disabled => true %>
											<% end %>
										</div>
									<% end %>
								<% end %>

							<!-- YA PUESTO -->
							<% else %>
								<%= fields_for patient_request.how_met do | how_met_f | %>
									<% HowMetType.all.each do | how_met_type | %>
										<div style="width: 90%; position: relative; margin-bottom: 10px; float: left;">

											<%= how_met_f.radio_button :how_met_type_id, how_met_type.id.to_s, :style => "float: left;", :onclick => "howMetSelected(this);", "data-other" => how_met_type.is_other?, :required => true %>
											<%= how_met_f.label :how_met_type_id, how_met_type.name, :value => how_met_type.id.to_s, :style => "position: absolute; left: 15px; top: -2px;" %>

											<% if how_met_type.is_other? %>
												<%= how_met_f.text_field :other_name, autofocus: true, :size => 10, :style => "position: absolute; top: -9px; left: 40px;", :disabled => true %>
											<% end %>
										</div>
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>

				<!-- COLUMNA DERECHA -->
				<div style="width: 50%; float: left;" class="colum-form-inputs">

					<!-- AREAS AFECTADAS -->
					<div style="margin-left: 4%; margin-top: 12px;">
						<div style="width: 100%; float: left; margin-bottom: -1px;">
							¿Cuáles de las siguientes áreas se han visto afectadas en tu vida en relación con tu motivo de consulta?
						</div>

						<div style="width: 60%; float: left; margin-left: 2.4%;">
							<%= render partial: "affected_areas_input", locals: { form: request_form } %>
						</div>
					</div>

					<!-- HORARIOS -->
					<div style="margin-left: 4%; margin-top: 12px;">
						<div style="width: 100%; float: left;">
							¿Cuáles son tus horarios disponibles para asistir a las sesiones? (Seleccione los rangos)
						</div>

						<div style="margin-top: -2px; margin-left: 2.4%;">
							<%= render partial: "shared/schedules_input", locals: { form: request_form, :target_association  => :request_schedules } %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ENVIAR -->
		<div style="width: 18%; float: left; margin-top: 22px;">
			<%= request_form.submit "GUARDAR SOLICITUD", :class => "pure-button pure-button-primary" %>
		</div>
	<% end %>
</div>

<script type="text/javascript">

	function howMetSelected ( input ) {
		if($(input).attr("data-other") === "true") {
			$("#how_met_other_name").prop("disabled", false);
			$("#how_met_other_name").prop("required", true);
		} else {
			$("#how_met_other_name").prop("disabled", true);
			$("#how_met_other_name").prop("required", false);
			$("#how_met_other_name").val("");
		}
	}

	//Quita letras en campos numericos
	$(".num-field").keypress(function ( event ) {
		var charCode = event.which;
		if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
			return false;
		}

		return true;
	});
</script>