<div class="info-pat">

	<!-- PRIMERA COLUMNA -->
	<div style="width: 30%; margin-left: 1%;">

		<div style="margin-top: 22px;"><span>EDAD</span><span><%= patient.age %></span></div>
		<div><span>CARRERA</span><span><%= Patient::NAME_CAREER[ patient.career ] %></span></div>
		<div><span>TELÉFONO</span>
			<span><%= (patient.telephone1.blank? or patient.telephone1.nil?) ? "No especificado" : patient.telephone1 %></span>
		</div>
		<div><span>CELULAR</span>
			<span><%= (patient.telephone2.blank? or patient.telephone2.nil?) ? "No especificado" : patient.telephone2 %></span>
		</div>
		<div><span>CORREO</span><span><%= patient.email %></span></div>

		<div style="margin-top: 10px;"><span>MOTIVOS DE CONSULTA</span>
			<span>
			<p style="margin-top: 4px; width: 90%; height: auto; text-align: justify;">
				<%= patient_request.reasons %>
			</p>
			</span>
		</div>
	</div>

	<!-- SEGUNDO COLUMNA -->
	<div style="width: 40%; margin-left: 2%;">

		<div style="width: 100%; float: left;" align="center">
			<span>DISPONIBILIDAD HORARIO</span>
		</div>

		<div style="width: 100%; float: left; margin-top: 6px;" align="center">
			<%= render partial: "request_schedules_info", locals: { patient_request: patient_request } %>
		</div>

		<div style="float: left; margin-left: 4%; margin-top: 8px;">
			<div style="width: 10px; height: 10px; background: rgb(58,135,173); float: left;"></div>
			<div style="float: left; margin-left: 5px;">Horario paciente</div><br>

			<% if not params[:filter_by].nil? and params[:filter_by] == "schedule" %>
				<div style="width: 10px; height: 10px; background: rgb(26,61,78); float: left;"></div>
				<div style="float: left; margin-left: 5px;">Tu horario</div><br>
				<div style="width: 10px; height: 10px; background: rgb(178,14,255); float: left;"></div>
				<div style="float: left; margin-left: 5px;">Coincidencia de horario</div>
			<% end %>
		</div>
	</div>

	<!-- TERCERA COLUMNA -->
	<div style="width: 16%; margin-left: 5%; margin-top: 30px;">

		<!-- BOTON PARA EDITAR INFORMACION -->
		<%= link_to edit_patient_request_path(patient.patient_request),
			:class => "pure-button pure-button-active lue-pat-action",
			:style => "margin-top: 15px;" do %>
			<b>EDITAR SOLICITUD</b>
		<% end %>

		<% if patient.patient_status_type.name == "Sin contactar" %>

			<!-- BOTON PARA MARCAR COMO ESPERANDO RESPUESTA -->
			<%= link_to patient_mark_contacted_path(patient),
				:class => "pure-button pure-button-active lue-pat-action",
				:data => { confirm: "¿Estás seguro?" } do %>
				<b>CONTACTADO</b>
			<% end %>
		<% elsif patient.patient_status_type.name == "Esperando respuesta" %>

			<!-- BOTON PARA COMENZAR A ATENDER -->
			<%= link_to assign_patient_path(patient),
				:class => "pure-button pure-button-active lue-pat-action",
				:data => { confirm: "¿Estás seguro?" } do %>
				<b>COMENZAR A ATENDER</b>
			<% end %>
		<% end %>

		<!-- BOTON PARA ELIMINAR REGISTRO -->
		<%= link_to patient_mark_uninterested_path(patient),
			:class => "pure-button pure-button-active lue-pat-action",
			:style => "background: rgb(202, 60, 60); color: #FFF;",
			:data => { confirm: "¿Estás seguro?" } do %>
			<b>NO INTERESADO</b>
		<% end %>
	</div>

</div>