<%
	# Panel para las tabs del workspace del terapeuta
	@therapist_active_tab = 1

	# Panel para las tabs del workspace del lue
	@lue_active_tab = 0
%>

<% content_for :lue_list_tab do %>

	<!-- FILTRO Y BUSQUEDA -->
	<div class="lue-block" style="height: 60px;">

		<!-- BUSQUEDA -->
		<form action="<%= lue_index_path %>" method="get" class="pure-form" id="lue-search">
			<% if not params[:filter_by].nil? %>
				<%= hidden_field_tag 'filter_by', params[:filter_by] %>
			<% end %>

			<%= text_field_tag :searchStr,  nil, placeholder: 'Escriba búsqueda...' %>
			<%= submit_tag "Buscar",  name: nil, class: "pure-button pure-button-primary" %>
		</form>

		<!-- FILTRAR -->
		<form action="<%= request.fullpath %>" method="get" class="pure-form" id="lue-filter">
			<% if not params[:searchStr].nil? %>
				<%= hidden_field_tag 'searchStr', params[:searchStr] %>
			<% end %>

			<%= label_tag 'filter_by', 'Filtrar por:' %>
			<%= select_tag 'filter_by', lue_filter_options(params[:filter_by]).html_safe, :onchange => "this.form.submit();" %>
		</form>
	</div>

	<!-- TABLA -->
	<div class="lue-block" style="padding-left: 2%;">

		<table id="lue-table" class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th class="order<%= (params[:order_by] == 'account_number')? ' order-active' : '' %>" orderby="account_number">NO. DE CUENTA</th>
					<th class="order<%= (params[:order_by] == 'p_last_name')? ' order-active' : '' %>" orderby="p_last_name">APELLIDO PATERNO</th>
					<th class="order<%= (params[:order_by] == 'm_last_name')? ' order-active' : '' %>" orderby="m_last_name">APELLIDO MATERNO</th>
					<th class="order<%= (params[:order_by] == 'names')? ' order-active' : '' %>" orderby="names">NOMBRE(S)</th>
					<th class="order<%= (params[:order_by] == 'request_date')? ' order-active' : '' %>" orderby="request_date">FECHA DE SOLICITUD</th>
					<th class="order<%= (params[:order_by] == 'condition')? ' order-active' : '' %>" orderby="condition">CONDICIÓN</th>
					<th class="order<%= (params[:order_by] == 'status')? ' order-active' : '' %>" orderby="status">STATUS</th>
					<th></th>
				</tr>
			</thead>

			<!-- FORMULARIO PARA FILTRAR -->
			<form action="<%= request.fullpath %>" method="get" id="orderby-form">
				<% if not params[:searchStr].nil? %>
					<%= hidden_field_tag 'searchStr', params[:searchStr] %>
				<% end %>

				<% if not params[:filter_by].nil? %>
					<%= hidden_field_tag 'filter_by', params[:filter_by] %>
				<% end %>

				<%= hidden_field_tag 'order_by', '' %>
			</form>

			<tbody>
				<% @patient_requests.each_with_index do | req, index | %>
					<% patient = req.patient %>
					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>">
						<td class="<%= (params[:order_by] == 'account_number')? 'c-order-active' : '' %>"><%= patient.account_number %></td>
						<td class="<%= (params[:order_by] == 'p_last_name')? 'c-order-active' : '' %>"><%= patient.p_last_name %></td>
						<td class="<%= (params[:order_by] == 'm_last_name')? 'c-order-active' : '' %>"><%= patient.m_last_name %></td>
						<td class="<%= (params[:order_by] == 'names')? 'c-order-active' : '' %>"><%= patient.names %></td>
						<td class="<%= (params[:order_by] == 'request_date')? 'c-order-active' : '' %>"><%= req.request_date %></td>
						<td class="<%= (params[:order_by] == 'condition')? 'c-order-active' : '' %>"><%= PatientRequest::NAME_CONDITION[req.condition] %></td>
						<td class="<%= (params[:order_by] == 'status')? 'c-order-active' : '' %>"><%= Patient::NAME_STATUS[patient.status] %></td>
						<td><div class="arrow-expand"><i class="fa fa-caret-down"></i></div></td>
					</tr>

					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>">
						<td colspan="8" class="lue-pat">
							<%= render partial: "info_patient", locals: { patient: patient } %>
						</td>
					</tr>
				<% end %>

				<% if @patient_requests.count == 0 %>
					<tr>
						<td colspan="8" align="center" style="font-size: 14px; font-style: italic; padding-top: 9px; height: 30px;">
							NO SE HALLARON SOLICITUDES
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<script type="text/javascript">
		$(".order").click(function() {

			var orderbyValue = $(this).attr("orderby");

			// Seleccionamos el input del formulario de ordenamiento
			var input = $("input#order_by");
			input.attr("value", orderbyValue);

			// Envia el formulario
			$("#orderby-form").submit();
		});

		$("#lue-table").expandTable({
			beforeExpand: function(elem) {
			}
		});
	</script>
	
<% end %>

<%= render template: "patient_requests/lue_tab" %>
