<% content_for :lue do %>

	<% if not flash[:notice].nil? and flash[:notice].is_a?(Hash) %>
	
		<!-- MENSAJES DEL LUE -->
		<% flash[:notice].each do | key, notice | %>
			<div class="alert-box success" style="width: 99%; position: relative; float: left; padding: 10px 0px 10px 10px;" onclick="$(this).remove();">
				<%= notice %>
			</div>
		<% end %>
	<% end %>

	<!-- FILTRO Y BUSQUEDA -->
	<div class="lue-block" style="height: 60px;">

		<!-- BUSQUEDA -->
		<form action="<%= lue_index_path %>" method="get" class="pure-form" id="lue-search">
			<% if not params[:filter_by].nil? %>
				<%= hidden_field_tag 'filter_by', params[:filter_by] %>
			<% end %>

			<%= text_field_tag :searchStr,  nil, placeholder: 'Escriba búsqueda...' %>
			<%= submit_tag "Buscar",  name: nil, class: "pure-button pure-button-primary" %>
		</form>

		<!-- FILTRAR -->
		<form action="<%= request.fullpath %>" method="get" class="pure-form" id="lue-filter">
			<% if not params[:searchStr].nil? %>
				<%= hidden_field_tag 'searchStr', params[:searchStr] %>
			<% end %>

			<%= label_tag 'filter_by', 'Filtrar por:', :style => "font-weight: bold;" %>
			<%= select_tag 'filter_by', lue_filter_options(params[:filter_by]).html_safe, :onchange => "this.form.submit();" %>
		</form>
	</div>

	<!-- REGISTROS -->
	<div class="lue-block" style="width: 98%; padding-left: 2%;">
		<table id="lue-table" class="pure-table pure-table-bordered">
			<% [155, 155, 155, 155, 155, 155, 155, 60].each do |w| %>	
				<col width="<%= w %>px"/>
			<% end %>

			<thead>
				<tr align="center">
					<th class="order<%= (params[:order_by] == 'account_number')? ' order-active' : '' %>" orderby="account_number">No. DE CUENTA</th>
					<th class="order<%= (params[:order_by] == 'p_last_name')? ' order-active' : '' %>" orderby="p_last_name">APELLIDO PATERNO</th>
					<th class="order<%= (params[:order_by] == 'm_last_name')? ' order-active' : '' %>" orderby="m_last_name">APELLIDO MATERNO</th>
					<th class="order<%= (params[:order_by] == 'names')? ' order-active' : '' %>" orderby="names">NOMBRE(S)</th>
					<th class="order<%= (params[:order_by] == 'request_date')? ' order-active' : '' %>" orderby="request_date">FECHA DE SOLICITUD</th>
					<th class="order<%= (params[:order_by] == 'condition')? ' order-active' : '' %>" orderby="condition">CONDICIÓN</th>
					<th class="order<%= (params[:order_by] == 'status')? ' order-active' : '' %>" orderby="status">STATUS</th>
					<th></th>
				</tr>
			</thead>

			<!-- FORMULARIO PARA ORDENAR -->
			<form action="<%= request.fullpath %>" method="get" id="orderby-form">
				<% if not params[:searchStr].nil? %>
					<%= hidden_field_tag 'searchStr', params[:searchStr] %>
				<% end %>

				<% if not params[:filter_by].nil? %>
					<%= hidden_field_tag 'filter_by', params[:filter_by] %>
				<% end %>

				<%= hidden_field_tag 'order_by', '' %>
			</form>

			<tbody>
				<% @patient_requests.each_with_index do | req, index | %>
					<% patient = req.patient %>
					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>" align="center">
						<td class="<%= (params[:order_by] == 'account_number')? 'c-order-active' : '' %>"><%= patient.account_number %></td>
						<td class="<%= (params[:order_by] == 'p_last_name')? 'c-order-active' : '' %>"><%= patient.p_last_name %></td>
						<td class="<%= (params[:order_by] == 'm_last_name')? 'c-order-active' : '' %>"><%= patient.m_last_name %></td>
						<td class="<%= (params[:order_by] == 'names')? 'c-order-active' : '' %>"><%= patient.names %></td>
						<td class="<%= (params[:order_by] == 'request_date')? 'c-order-active' : '' %>"><%= req.request_date %></td>
						<td class="<%= (params[:order_by] == 'condition')? 'c-order-active' : '' %>"><%= req.condition_type.name %></td>
						<td class="<%= (params[:order_by] == 'status')? 'c-order-active' : '' %>"><%= patient.patient_status_type.name %></td>
						<td><div class="arrow-expand"><i class="fa fa-caret-down"></i></div></td>
					</tr>

					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>">
						<td colspan="8" class="lue-pat" style="padding: 0 0 0 0; margin: 0 0 0 0;">
							<%= render partial: "info_patient", locals: { patient: patient, patient_request: req } %>
						</td>
					</tr>
				<% end %>

				<% if @patient_requests.size == 0 %>
					<tr>
						<td colspan="8" align="center" style="font-size: 14px; font-style: italic; padding-top: 9px; height: 30px;">
							NO SE HALLARON SOLICITUDES
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<script type="text/javascript">
		$(".order").click(function() {

			var orderbyValue = $(this).attr("orderby");

			// Seleccionamos el input del formulario de ordenamiento
			var input = $("input#order_by");
			input.attr("value", orderbyValue);

			// Envia el formulario
			$("#orderby-form").submit();
		});

		$("#lue-table").expandTable({
			toggle: "#lue-table .arrow-expand i",
			beforeExpand: function(tr) {},
			afterExpand: function(tr) {
				var icon = $(tr).find(".arrow-expand i");
				if(icon.hasClass("fa-caret-down")) {
					icon.removeClass("fa-caret-down");
					icon.addClass("fa-caret-up");
				} else {
					icon.removeClass("fa-caret-up");
					icon.addClass("fa-caret-down");
				}
			}
		});
	</script>

	<% if not params[:filter_by].nil? and params[:filter_by] == "schedule" %>
	
		<!-- SI FILTRARON POR HORARIO MOSTRAMOS LAS COINCIDENCIAS -->
		<script type="text/javascript">

			// Pedimos el horario del terapeuta
			$.ajax({
				type: "GET",
				url: "<%= therapist_schedules_path(current_therapist) %>",
				dataType: "json",
				success: function( data ) {

					// Iteramos todos las tablas de horarios
					$(".req-schedules-info").each(function() {

						var table = this;

						// Iteramos los horarios del terapeuta
						for (var i = 0; i < data.length; i++) {

							// Obtenemos un horario
							var schedule = data[i];

							// Mostramos el horario en la tabla
							displaySchedule(table, schedule, function (scheduleCell) {
								if($(scheduleCell).hasClass("selected-schedule")) {
									$(scheduleCell).removeClass("selected-schedule")
									$(scheduleCell).addClass("overlap-active-schedule");
								} else {
									$(scheduleCell).addClass("ther-active-schedule");
								}
							});
						}
					});
				}
			});
		</script>
	<% end %>
<% end %>

<%= render template: "patient_requests/lue_tab" %>