<div style="width: 98%; height: 300px;">

	<!-- Mensajes de Error -->
	<% if therapist.errors.any? %>
		<% therapist.errors.messages.each do | field, message | %>
			<div class="alert-box error" style="width: 75%; color: #FFF;" onclick="$(this).remove();">
				<b style="margin-right: 5px;">Terapeuta no registrado:</b> <%= message[0] %>
			</div>
		<% end %>
	<% end %>

	<!-- FORMULARIO NUEVO TERAPEUTA -->
	<%= nested_form_for therapist, :html => { :id => "form-new-therapist", :class => "pure-form pure-form-stacked" } do |f| %>

		<!-- DATOS -->
		<div style="width: 100%; height: 258px; float: left;">

			<!-- PERSONALES -->
			<div class="form-inputs" style="width: 42%; height: 100%; float: left;">
				<div class="form-inputs-title">DATOS PERSONALES</div>

				<!-- NOMBRES -->
				<div style="margin-left: 4%; margin-top: 8px;">
					<%= f.label :names do %>Nombre(s): <% end %>
					<%= f.text_field :names, autofocus: true, :size => 70, :maxlength => 35, :required => true %>
				</div>

				<!-- A PATERNO -->
				<div style="margin-left: 4%; margin-top: 10px;">
					<%= f.label :p_last_name do %>Apellido Paterno: <% end %>
					<%= f.text_field :p_last_name, autofocus: true, :size => 70, :maxlength => 30, :required => true %>
				</div>

				<!-- A MATERNO -->
				<div style="margin-left: 4%; margin-top: 10px;">
					<%= f.label :m_last_name do %>Apellido Materno: <% end %>
					<%= f.text_field :m_last_name, autofocus: true, :size => 70, :maxlength => 30, :required => true %>
				</div>

				<!-- GRADO ESCOLAR -->
				<div style="margin-left: 4%; margin-top: 10px;">
					<%= f.label :scholar_grade, "Grado Escolar: " %>
					<%= f.select :scholar_grade, [["Licenciatura", "Licenciatura"], ["Maestría", "Maestria"], ["Doctorado", "Doctorado"]] %>
				</div>
			</div>

			<!-- CONTACTO -->
			<div class="form-inputs" style="width: 52.5%; height: 100%; float: left; margin-left: 1.5%;">
				<div class="form-inputs-title">DATOS DE CONTACTO</div>

				<!-- TELEFONO 1 -->
				<div style="margin-left: 2%; margin-top: 8px;">
					<%= f.label :telephone1 do %>Telefono: <% end %>
					<%= f.text_field :telephone1, autofocus: true, class: "num-field", :maxlength => 13 %>
				</div>

				<!-- TELEFONO 2 -->
				<div style="margin-left: 2%; margin-top: 10px;">
					<%= f.label :telephone2 do %>Celular: <% end %>
					<%= f.text_field :telephone2, autofocus: true, class: "num-field", :maxlength => 13 %>
				</div>

				<!-- EMAIL -->
				<div style="margin-left: 2%; margin-top: 10px;">
					<%= f.label :email %>
					<%= f.email_field :email, autofocus: true, :size => 40, :maxlength => 25, :required => true %>
				</div>
			</div>
		</div>

		<!-- HORARIOS -->
		<div class="form-inputs" style="width: 97%; float: left; margin-top: 49px;">
			<div class="form-inputs-title">Horarios</div>

			<!-- HORARIOS -->
			<div style="margin-left: 2%; margin-top: 12px;">
				<div style="width: 100%; float: left;">
					Horarios disponibles para atender alumnos.
				</div>

				<div style="margin-top: -2px; margin-left: 2.4%;">
					<%= render partial: "shared/schedules_input", locals: { form: f, :target_association => :therapist_schedules } %>
				</div>
			</div>
		</div>

		<!-- ACCESO -->
		<div class="form-inputs" style="width: 97%; float: left;">
			<div class="form-inputs-title">ACCESO</div>

			<!-- PASSWORD -->
			<div style="margin-left: 2%; margin-top: 5px;">
				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: "off", :size => 40, :maxlength => 25, :autofocus => true %>
			</div>

			<!-- CONFIRMACION PASSWORD -->
			<div style="margin-left: 2%; margin-top: 9px;">
				<%= f.label :password_confirmation do %>Confirme password:<% end %>
				<%= f.password_field :password_confirmation, autocomplete: "off", :size => 40, :maxlength => 25, :autofocus => true %>
			</div>
		</div>

		<!-- ENVIAR -->
		<div style="width: 18%; float: left; margin-top: 22px;">
			<%= f.submit "GUARDAR TERAPEUTA", :class => "pure-button pure-button-primary" %>
		</div>
	<% end %>
</div>