<% content_for :profile_tab do %>

	<div id="profile-tabs">
		<ul id="profile-tabs-header" class="tabs-header">

			<li>
				<a href="#profile" style="margin-top: 8px;">
					<i class="fa fa-male"></i>
					<div style="margin-left: 8px;">Mis Datos</div>
				</a>
			</li>

			<li>
				<a href="#statistics" style="margin-top: 8px;">
					<i class="fa fa-pie-chart"></i>
					<div style="margin-left: 8px;">Estadisticas</div>
				</a>
			</li>
		</ul>

		<!-- PERFIL -->
		<div id="profile" class="ter-panel">
			<%= yield(:profile) if content_for?(:profile) %>
		</div>

		<!-- ESTADISTICAS -->
		<div id="statistics" class="ter-panel">
			<%= yield(:statistics) if content_for?(:statistics) %>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#profile-tabs").tabs({
				active: parseInt("<%= @profile_active_tab %>"),
				beforeActivate: function( event, ui ) {

					// Siguiente panel
					var newPanel = ui.newPanel;
					var newPanelId = newPanel.attr("id");

					// PANEL AL WORKSPACE

					// Perfil
					if(newPanelId === "profile") {
						window.location = "<%= therapist_profile_path(current_therapist.id) %>";
					}

					// Estadisticas
					if(newPanelId === "statistics") {
						window.location = "<%= stadistics_index_path %>";
					}		
				}
			});
		});
	</script>
<% end %>