<% content_for :profile_tab do %>

	<div id="terapeuta_tabs">
		<ul id="ter-tabs-header2">

			<li><a href="#perfilTab" style="margin-top: 8px;">
					<i class="fa fa-male"></i>
					<div align="center">Mis Datos</div>
			</a></li>


			<li><a href="#estadisticasTab">
				<i class="fa fa-pie-chart" style="margin-top: 8px;"></i>
				<div align="center">Estadisticas</div>
			</a></li>
		</ul>
	</div>


	<!-- PERFIL -->
	<div id="perfilTab" class="ter-panel">
		<%= yield(:perfil_tab) if content_for?(:perfil_tab) %>
	</div>

	<div id="testgraph"></div>

	<script type="text/javascript">
		$.ajax({	
			method: "GET",
			url: "<%= graph_index_path('prueba') %>",
			success: function(data) {
				$("#testgraph").append(data);
			}
		});
	</script>
	<!-- </div> -->

	<!-- <div id='calendar'></div> -->


	<!--<script>

		$(document).ready(function() {
			$('#calendar').fullCalendar({
				lang: 'es',
				// selectable: true,
				// selectHelper: true,
				// hiddenDays: [ 0, 6 ],
				// editable: true,
				// allDay: false,
				// eventLimit: true, // allow "more" link when too many events
				// // businessHours: true,
				// start: '08:00',
				// end: '21:00',
				// header: {
				// 	left: 'prev,next today',
				// 	center: 'title',
				// 	right: 'month,agendaWeek,agendaDay'
				// },
				// // defaultDate: '2014-11-12',
				// select: function(start, end) {
				// 	var title = prompt('Event Title:');
				// 	var eventData;
				// 	if (title) {
				// 		eventData = {
				// 			title: title,
				// 			start: start,
				// 			end: end
				// 		};
				// 		$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				// 	}
				// 	$('#calendar').fullCalendar('unselect');
				},

			});
			
		});
	</script>-->

	<script type="text/javascript">
		$(document).ready(function() {
			
			$( "#terapeuta_tabs" ).tabs({
				active: parseInt("<%= @therapist_active_tab %>"),
				beforeActivate: function( event, ui ) {

					// Siguiente panel
					var newPanel = ui.newPanel;
					var newPanelId = newPanel.attr("id");

					// PANEL AL WORKSPACE

					// Perfil
					if(newPanelId === "perfilTab") {
						window.location = "<%= therapist_profile_path(current_therapist.id) %>";
					}

					// LUE
					if(newPanelId === "estadisticasTab") {
						window.location = "<%= graph_index_path('prueba') %>";
					}

					if(newPanelId.lastIndexOf("open_record") != -1) {

						// Encontramos el numero de tab
						var tabindex = 1;
						var panels = $(".open-record-panel");
						for (var i = 0; i < panels.length; i++) {
							if(newPanelId === $(panels[i]).attr("id")) {
								break;
							}
							tabindex++;
						}

						window.location = newPanel.attr("link-open-record") + "?tab=" + tabindex;
					}

					
				}
			});

		});
	</script>
<% end %>
