<% content_for :statistics do %>

	<!-- OPCTIONES ESTADISTICAS -->
	<div id="statistics-options">

		<!-- FORMULARIO PARA SELECIONAR -->
		<form action="<%= request.fullpath %>" method="get" class="pure-form" id="statics-selec">
			<%= label_tag 'branch', 'Sede:', :style => "font-weight: bold;" %>
			<%= select_tag 'branch', @branch_options.html_safe, :onchange => "this.form.submit();" %>

			<%= label_tag 'semester', 'Semestre:', :style => "font-weight: bold;" %>
			<%= select_tag 'semester', @semester_options.html_safe, :onchange => "this.form.submit();" %>
		</form>

		<!-- BOTON PDF -->
		<div id="statistics-download" title="Descargar en PDF">
			<i class="fa fa-download"></i>
		</div>
	</div>

	<!-- CONTENEDOR ESTADISTICAS -->
	<div id="statistics-container">
		<div id="statistics-wall">
		</div>
	</div>

	<script>
		(function () {

			// Los nombres de las graficas disponibles
			var chartNames = [
			  "request_on_attended",
			  "sex_requests",
			  "sex_attended",
			  "career_requests",
			  "career_attended",
			  "semester_requests",
			  "semester_attended",
			  "failed_subjects_requests",
			  "failed_subjects_attended"
			  //"dropouts"
			  //"reasons",
			  //"symptoms",
			  //"affected_areas",
			  //"improved_areas",
			  //"condition_before",
			  //"condition_after",
			  //"aid",
			  //"advise",
			  //"how_met",
			  //"rating"
			];

			// Freewal para estadisticas
			var wall = new Freewall("#statistics-wall");

			// Obtenemos cada estadistica en base al nombre
			google.load('visualization', '1.0', {'packages':['corechart']});
			google.setOnLoadCallback(function() {
				var promises = [];
			  for (var i = 0; i < chartNames.length; i++) {
			  	promises[i] = $.Deferred();
			    appendChart(chartNames[i], promises[i]);
			  }

			  $.when( promises ).done(function () {
			  	wall.reset({
			  	  selector: '.statistics-chart',
			  	  animate: true,
			  	  delay: 50,
			  	  onResize: function() {
			  	    wall.fitWidth();
			  	  }
			  	});

			  	wall.fitWidth();
			  });
			});

			// Funcion para agregar una nueva grafica
			function appendChart(name, promise) {
			  var chartUrl = "<%= chart_path %>?chart=" + name;
			  $.ajax({
			    method: "GET",
			    url: chartUrl,
			    data: {
			      branch: "<%= @branch.id %>",
			      semester: "<%= @semester %>"
			    },
			    success: function (data) {
			      var domData = $(data);
			      promise.resolve();

			      for (var j = 0; j < domData.length; j++) {
			      	$("#statistics-wall").append(domData[j]);
			      }
			      wall.appendBlock(domData[0]);
			    }
			  });
			}
		})();
	</script>
<% end %>

<%= render template: "therapists/profile_tab" %>