<% content_for :statistics do %>

	<!-- OPCTIONES ESTADISTICAS -->
	<div id="statistics-options">

		<!-- FORMULARIO PARA SELECIONAR -->
		<form action="<%= request.fullpath %>" method="get" class="pure-form" id="statics-selec">
			<%= label_tag 'branch', 'Sede:', :style => "font-weight: bold;" %>
			<%= select_tag 'branch', @branch_options.html_safe, :onchange => "this.form.submit();" %>

			<%= label_tag 'semester', 'Semestre:', :style => "font-weight: bold;" %>
			<%= select_tag 'semester', @semester_options.html_safe, :onchange => "this.form.submit();" %>
		</form>

		<!-- BOTON PDF -->
		<div id="statistics-download" title="Descargar en PDF">
			<i class="fa fa-download"></i>
		</div>
	</div>

	<!-- CONTENEDOR ESTADISTICAS -->
	<div id="statistics-container">
		<div id="statistics-wall">
		</div>
	</div>

	<script>
		(function () {

			// Freewal para estadisticas
			var wall = new Freewall("#statistics-wall");
			wall.reset({
				selector: '.statistics-chart',
				animate: true,
				delay: 50,
				gutterY: 20,
				gutterX: 20,
				onResize: function() {
					wall.fitWidth();
				}
			});
			wall.fitWidth();

			// Los nombres de las graficas disponibles
			var chartNames = [
				"request_on_attended",
				"sex_requests"
			];

			// Funcion para agregar una nueva grafica
			function appendChart(name) {
				var chartUrl = "<%= chart_path %>?chart=" + name;
				$.ajax({
					method: "GET",
					url: chartUrl,
					data: {
						branch: "<%= @branch.id %>",
						semester: "<%= @semester %>"
					},
					success: function (data) {
						var domData = $(data);

						wall.appendBlock(domData[0]);
						$("#statistics-wall").append(domData[2]);
					}
				});
			}
			
			// Obtenemos cada estadistica en base al nombre
			google.load('visualization', '1.0', {'packages':['corechart']});
			google.setOnLoadCallback(function() {
				for (var i = 0; i < chartNames.length; i++) {
					appendChart(chartNames[i]);
				}
			});
		})();
	</script>
<% end %>

<%= render template: "therapists/profile_tab" %>