<table id="appointment-table" class="pure-table pure-table-bordered">
	<thead align="center">
		<th># CITA</th><th>FECHA</th><th>HORA</th><th>ASISTIO</th><th>IR A CITA</th>
	</thead>
	<tbody align="center">
		<% appointments.each do | appointment | %>
			<tr class="pure-table-odd">
				<td><%= appointment.number %></td>
				<td><%= appointment.date.strftime("%d-%m-%y") %></td>
				<td><%= appointment.date.strftime("%H:%M") %></td>
				<td>
					<% if appointment.attended.nil? %>
						Sin especificar
					<% else %>
						<% if appointment.attended %>
							<i class="fa fa-check-circle" style="color: #15bc08;"></i>
						<% else %>
							<i class="fa fa-times-circle" style="color: #ff0000;"></i>
						<% end %>
					<% end %>
				</td>

				<td>
					<%= link_to show_appointment_path(appointment) do %>
						<i class="fa fa-arrow-right"></i>
					<% end %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td colspan="5" style="padding-bottom: 15px;">
				<div><%= render partial: "appointments/form" %></div>
			</td>
		</tr>
	</tbody>
</table>
