<% content_for :fosti_tab do %>

	<!-- FILTRO Y BUSQUEDA -->
	<div class="fosti-block" style="height: 60px;">

		<!-- BUSQUEDA -->
		<form action="<%= fosti_index_path %>" method="get" class="pure-form" id="fosti-search">
			<% if not params[:filter_by].nil? %>
				<%= hidden_field_tag 'filter_by', params[:filter_by] %>
			<% end %>

			<%= text_field_tag :searchStr,  nil, placeholder: 'Escriba búsqueda...' %>
			<%= submit_tag "Buscar",  name: nil, class: "pure-button pure-button-primary" %>
		</form>
	</div>

	<div class="fosti-block" style="width: 98%; padding-left: 2%;">

		<table id="fosti-table" class="pure-table pure-table-bordered">
			<% [80, 100, 30, 60, 100, 50, 45, 70, 60, 60].each do | w | %>
				<col width="<%= w %>px"/>
			<% end %>

			<thead>
				<tr align="center">
					<th class="order<%= (params[:order_by] == 'account_number')? ' order-active' : '' %>" orderby="account_number">No. DE CUENTA</th>
					<th class="order<%= (params[:order_by] == 'full_name')? ' order-active' : '' %>" orderby="full_name">NOMBRE</th>
					<th class="order<%= (params[:order_by] == 'age')? ' order-active' : '' %>" orderby="age">EDAD</th>
					<th class="order<%= (params[:order_by] == 'career')? ' order-active' : '' %>" orderby="career">CARRERA</th>
					<th>EMAIL</th>
					<th>TELÉFONO</th>
					<th>No. DE CITAS</th>
					<th>INASISTENCIAS</th>
					<th class="order<%= (params[:order_by] == 'admission_date')? ' order-active' : '' %>" orderby="admission_date">FECHA DE ADMISIÓN</th>
					<th>ABRIR EXPEDIENTE</th>
				</tr>
			</thead>

			<!-- FORMULARIO PARA ORDENAR -->
			<form action="<%= request.fullpath %>" method="get" id="orderby-form">
				<% if not params[:searchStr].nil? %>
					<%= hidden_field_tag 'searchStr', params[:searchStr] %>
				<% end %>

				<% if not params[:filter_by].nil? %>
					<%= hidden_field_tag 'filter_by', params[:filter_by] %>
				<% end %>

				<%= hidden_field_tag 'order_by', '' %>
			</form>

			<tbody>
				<% @patient_records.each_with_index do | record, idx | %>
					<% patient = record.patient %>

					<tr class="<%= 'pure-table-odd' if (idx % 2 == 1) %>" align="center">
						<td class="<%= (params[:order_by] == 'account_number')? 'c-order-active' : '' %>"><%= patient.account_number %></td>
						<td class="<%= (params[:order_by] == 'full_name')? 'c-order-active' : '' %>"><%= patient.full_name %></td>
						<td class="<%= (params[:order_by] == 'age')? 'c-order-active' : '' %>"><%= patient.age %></td>
						<td class="<%= (params[:order_by] == 'career')? 'c-order-active' : '' %>"><%= patient.career.name %></td>
						<td><%= patient.email %></td>
						<td><%= (patient.telephone1.nil? or patient.telephone1.blank?) ? patient.telephone2 : patient.telephone1 %></td>
						<td><%= record.appointments.count %></td>

						<% missed_count = record.missed_appointments.count %>
						<% color = (missed_count >= 3) ? "color: #FF0000;" : "color: #000000;" %>
						<td style="<%= color %>">
							<%= missed_count %>
						</td>
						<td class="<%= (params[:order_by] == 'admission_date')? 'c-order-active' : '' %>">
							<%= record.created_at.strftime("%d-%m-%y") %>
						</td>
						<td>
							<% tab_index = open_records.count + current_therapist.tabs_count %>
							<%= link_to open_record_path(record) + "?tab=" + tab_index.to_s do %>
								<i class="fa fa-folder-open-o" style="font-size: 14px;"></i>
							<% end %>
						</td>
					</tr>
				<% end %>

				<% if @patient_records.size == 0 %>
					<tr>
						<td colspan="10" align="center" style="font-size: 14px; font-style: italic; padding-top: 9px; height: 30px;">
							NO SE HALLARON EXPEDIENTES
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if @patient_records.size > 0 %>
			<div class="table-pagination">
				<%= will_paginate @patient_records %>
			</div>
		<% end %>
	</div>

	<script type="text/javascript">

		// Click para ordenar las columnas
		$("table .order").click(function() {

			var orderbyValue = $(this).attr("orderby");

			// Seleccionamos el input del formulario de ordenamiento
			var input = $("input#order_by");
			input.attr("value", orderbyValue);

			// Envia el formulario
			$("#orderby-form").submit();
		});
	</script>
<% end %>