<% content_for :havad do %>

	<!--FORMULARIO HAVAD -->
	<div class="form-inputs" style="width: 47%; margin-left: 2%; margin-top: 5px;">
		<%= nested_form_for current_patient.patient_record do | record_form | %>
			<!--Familiograma (¿Con quien vive?)-->
			<div style="font-weight: bold; font-size: 13px; margin-bottom: 17px;">
				FAMILIOGRAMA
			</div>
			<div style="margin-left: 4%; margin-top: -5px;">
				<%= record_form.label :lives_with do %>¿Con quien vives?: <% end %>
				<%= record_form.text_field :lives_with, autofocus: true, :size => 50, :required => true, :maxlength => 25 %>
			</div>

			<!-- RASGOS PADRES -->
			<div style="font-weight: bold; font-size: 13px; margin-bottom: 3px; margin-top: 15px;">
				RASGOS PADRES
			</div>

		<table>
			<tr>
				<td>
			<!-- CAMPOS PARA PARA LA MADRE -->
			<div style="font-weight: bold; font-size: 13px; margin-bottom: 3px; margin-top: 15px;">
				MADRE
			</div>
				</td>
			</tr>
			<tr>
				<td>
			<% mother_trait = record_form.object.paternal_traits.where(:from_mother => true).first  %>
			<%= record_form.fields_for mother_trait do | mother_form | %>
				<div style="margin-left: 0%; margin-top: 5px; float:left">
					<%= mother_form.label :patient_record_id do %>Rasgo: <% end %>
					<%= mother_form.select :patient_record_id, PaternalTraitType::options_for_select %>
				</div>
			<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<!-- CAMPOS PARA PARA EL PADRE -->
					<div style="font-weight: bold; font-size: 13px; margin-bottom: 3px; margin-top: 15px;">
						PADRE
					</div>
					</td>
				</tr>
				<tr>
					<td>
					<% father_trait = record_form.object.paternal_traits.where(:from_mother => false).first  %>
					<%= record_form.fields_for father_trait do | father_form | %>
						<div style="margin-left: 0%; margin-top: 5px; float:left">
							<%= father_form.label :patient_record_id do %>Rasgo: <% end %>
							<%= father_form.select :patient_record_id, PaternalTraitType::options_for_select %>
						</div>
					<% end %>
				</td>
			</tr>

			<tr>
				<td>
					<!-- CIE10 -->
					<div style="font-weight: bold; font-size: 13px; margin-left: 4%; margin-top: 5px;">
						<%= record_form.label :cie10_type_id do %>CIE10: <% end %>
					</div>
						<%= record_form.select :cie10_type_id, Cie10Type::options_for_select %>
				</td>
			</tr>
			<tr>
				<td>
					<!-- MECANISMOS-->
					<div style="font-weight: bold; font-size: 13px; margin-left: 4%; margin-top: 5px;">
						<%= record_form.label :cie10_type_id do %>MECANISMOS: <% end %>
					</div>
						<%= record_form.select :cie10_type_id, Cie10Type::options_for_select %>
				</td>
			</tr>

			<tr>
				<td>
					<!-- SITUACIONES Y EXPERIENCIAS -->
					<div style="font-weight: bold; font-size: 13px; margin-left: 4%; margin-top: 5px;">
						<%= record_form.label :cie10_type_id do %>SITUACIONES Y EXPERIENCIAS: <% end %>
					</div>
						<%= record_form.select :cie10_type_id, Cie10Type::options_for_select %>
				</td>
			</tr>
			<tr>
				<td>
					<!-- ESTRUCTURA CLINICA-->
					<div style=" font-weight: bold; font-size: 13px;margin-left: 4%; margin-top: 5px;">
						<%= record_form.label :cie10_type_id do %>ESTRUCTURA CLINICA: <% end %>
					</div>
						<%= record_form.select :cie10_type_id, Cie10Type::options_for_select %>
				</td>
			</tr>

		</table>
		<% end %>
	</div>
	
	<div class="form-inputs" style="width: 47%; height: 369px; float: right; margin-left: 1.5%; min-height: 341px; margin-top: -400px">

		<table class="pure-table pure-table-bordered" style="width:100%">
			<thead>
				<th >CITA</th>
				<th >HORARIO</th>
				<th >ASISTIO</th>
				<th></th>
			</thead>
			<tbody>		
		  <tr class="pure-table-odd">
		    <td>1</td>
		    <td>2:00 a 3:00 pm</td>		
		    <td><i class="fa-check-circle"></i></td>
		    <td><i class="fa fa-caret-down"></i></td>
		  </tr>
		  <tr class="pure-table-odd">
		    <td>2</td>
		    <td>2:00 a 3:00 pm</td>		
		    <td><i class="fa-check-circle"></i></td>
		    <td>50</td>
		  </tr>
		  <tr class="pure-table-odd">
		    <td>3</td>
		    <td>2:00 a 3:00 pm</td>		
		    <td><i class="fa-ban"></i></td>
		    <td>50</td>
		  </tr>
		  <tr class="pure-table-odd">
		    <td>4</td>
		    <td>2:00 a 3:00 pm</td>		
		    <td><i class="fa-check-circle"></i></td>
		    <td>50</td>
		  </tr>
		  </tbody>
		</table>

		<button class:"pure-button pure-button-primary" style = "float:right; margin-top:10px; ">Añadir Cita</button>

		<!-- OBSERVACIONES -->
		<div style="font-weight: bold; font-size: 13px; margin-bottom: 17px; margin-top: 20px;">
				OBSERVACIONES
		<textarea rows="10" cols="50">
		</textarea>
		</div>

	</div>
<% end %>

<%= render template: "patient_records/havad_tab" %>