<% content_for "open_record" + @patient_record.id.to_s do %>
	
	<!-- WORKSPACE OPEN RECORD -->
	<div id="open-record-tabs">

		<!-- PESTANAS -->
		<ul class="tabs-header">
			<li><a href="#patient">
				<i class="fa fa-male"></i>
				<div style="margin-left: 8px;">Paciente</div>
			</a></li>

			<li><a href="#havad">
				<i class="fa fa-book"></i>
				<div style="margin-left: 8px;">H.A.V.A.D.</div>
			</a></li>

			<li><a href="#appointments">
				<i class="fa fa-comments"></i>
				<div style="margin-left: 8px;">Citas</div>
			</a></li>

			<!-- HEADER - CITAS ABIERTAS -->
			<% @open_appointments = open_appointments(@patient_record) %>
			<li style="width: 10px;"></li>

			<% @open_appointments.each do | appointment | %>
				<li class="open-appointment-tab">
					<div>
						<a href="#open_appointment_<%= appointment.id %>" class="open-appointment-tab-name">
							Cita <%= appointment.number %>
						</a>
					</div>
					<div>
						<%= link_to close_appointment_path(@patient_record, appointment) + "?tab=" + params[:tab], class: "close-appointment-link" do %>
							<i class="fa fa-times"></i>
						<% end %>
					</div>
				</li>
			<% end %>
		</ul>

		<!-- Paciente -->
		<div id="patient" class="ter-panel">
			<%= yield(:patient) if content_for?(:patient) %>
		</div>

		<!-- HAVAD -->
		<div id="havad" class="ter-panel">
			<%= yield(:havad) if content_for?(:havad) %>
		</div>

		<!-- CITAS -->
		<div id="appointments" class="ter-panel">
			<%= yield(:appointments) if content_for?(:appointments) %>
		</div>

		<!-- PANELES - CITAS ABIERTAS -->
		<% @open_appointments.each do | appointment | %>
			<div id="open_appointment_<%= appointment.id %>" class="ter-panel open-appointment-panel" link-open-appointment="<%= show_appointment_path(@patient_record, appointment)%>?tab=<%= params[:tab] %>" >
				<%= yield("open_appointment" + appointment.id.to_s) if content_for?("open_appointment" + appointment.id.to_s) %>
			</div>
		<% end %>
	</div>

	<script type="text/javascript">
		$( "#open-record-tabs" ).tabs({
			active: parseInt("<%= @open_record_active_tab %>"),
			beforeActivate: function( event, ui ) {

				// Siguiente panel
				var newPanel = ui.newPanel;
				var newPanelId = newPanel.attr("id");

				// PANEL AL WORKSPACE
				if(newPanelId === "patient") {
					window.location = "<%= patient_index_path(@patient_record) %>?tab=<%= params[:tab] %>";
				}

				if(newPanelId === "havad") {
					window.location = "<%= havad_index_path(@patient_record) %>?tab=<%= params[:tab] %>";
				}

				if(newPanelId === "appointments") {
					window.location = "<%= appointments_path(@patient_record) %>?tab=<%= params[:tab] %>";
				}

				if(newPanelId.lastIndexOf("open_appointment") != -1) {

					// Encontramos el numero de tab
					var tabindex = 3;
					var panels = $(".open-appointment-panel");
					for (var i = 0; i < panels.length; i++) {
						if(newPanelId === $(panels[i]).attr("id")) {
							break;
						}
						tabindex++;
					}

					window.location = newPanel.attr("link-open-appointment") + "&app_tab=" + tabindex;
				}
			}
		});
	</script>

<% end %>