<%= nested_form_for(signout, :html => { :class => "pure-form pure-form-stacked" }) do |f| %>
	<div class="form-inputs" style="width: 97%; height: 650px; overflow-x: hidden; overflow-y: scroll; float: left;">

		<!-- QUE TANTO AYUDO -->
		<div class="form-question">
			<%= f.label :aid_level_type_id do %>
				¿Qué tanto te ayudó el tratamiento en relación a tu motivo de consulta?
			<% end %>

			<div style="width: 65%;">
				<% AidLevelType.all.each do | aid_level | %>
					<div style="width: 27%; margin-bottom: 8px;" class="radio-option">
						<%= f.radio_button :aid_level_type_id, aid_level.id.to_s, :style => "float: left;", :required => true %>
						<%= f.label :aid_level_type_id, aid_level.name, :value => aid_level.id.to_s, :style => "position: absolute; left: 15px; top: -2px;" %>
					</div>
				<% end %>
			</div>
		</div>

		<!-- CONDICION -->
		<div class="form-question">
			<%= f.label :condition_type_id do %>¿Cómo te sientes actualmente?<% end %>
			<div><%= f.select :condition_type_id, ConditionType::options_for_select %></div>
		</div>

		<!-- AREAS AFECTADAS -->
		<div class="form-question">
			<div style="width: 100%; float: left; margin-bottom: -1px;">
				Si piensas que el tratamiento te ayudó, ¿cuáles fueron las áreas en las que notaste una mejoría?
			</div>
			<div style="width: 38%;">
				<%= render partial: "patient_dropouts/improve_areas_input", locals: { form: f } %>
			</div>
		</div>

		<!-- CALIFICACION -->
		<div class="form-question">
			<%= f.label :rating do %>¿Del 1 al 10 cómo calificarías la calidad de la atención recibida?<% end %>
			<div><%= f.select :rating, PatientSignout::select_rating %></div>
		</div>

		<!-- RECOMENDARIAS -->
		<div class="form-question">
			<%= f.label :advise_level_type_id do %>¿Qué tanto recomendarías el servicio a otros estudiantes?<% end %>
			<div style="width: 96%;">
				<% AdviseLevelType.all.each do | advise | %>
					<div style="width: 8%; margin-bottom: 0px;" class="radio-option">
						<%= f.radio_button :advise_level_type_id, advise.id.to_s, :style => "float: left;", :required => true %>
						<%= f.label :advise_level_type_id, advise.name, :value => advise.id.to_s, :style => "position: absolute; left: 15px; top: -2px;" %>
					</div>
				<% end %>
			</div>
		</div>

		<!-- MAS TE AGRADO -->
		<div class="form-question">
			<%= f.label :satisfactions do %>¿Qué es lo que más te agradó de este servicio?<% end %>
			<div><%= f.text_area :satisfactions, autofocus: true, cols: 60, rows: 10, :required => true %></div>
		</div>

		<!-- MENOS TE AGRADO -->
		<div class="form-question">
			<%= f.label :claims do %>¿Qué es lo que menos te agradó de este servicio?<% end %>
			<div><%= f.text_area :claims, autofocus: true, cols: 60, rows: 10, :required => true %></div>
		</div>

		<!-- OBSERVACIONES -->
		<div class="form-question">
			<%= f.label :observations do %>Comentarios y observaciones (Para llenar por el terapeuta)<% end %>
			<div><%= f.text_area :observations, autofocus: true, cols: 60, rows: 10 %></div>
		</div>
	</div>

	<!-- ENVIAR -->
	<div style="width: 145px; float: left; margin-top: 10px; margin-left: 1.5%;">
		<%= f.submit "GUARDAR EGRESO", :class => "pure-button pure-button-primary" %>
	</div>
	<div class="pure-button pure-button-active patient-dropout-action"
		 style="width: 85px; margin: 10px 4px 0 0;" onclick="$('#form-signout').dialog('close');">
		CANCELAR
	</div>
<% end %>