<% content_for :dropouts_tab do %>

	<!-- FILTRO Y BUSQUEDA -->
	<div class="dropout-block" style="height: 60px;">
		
		<!-- BUSQUEDA -->
		<form action="<%= patient_dropouts_index_path %>" method="get" class="pure-form" id="dropouts-search">
			<% if not params[:filter_by].nil? %>
				<%= hidden_field_tag 'filter_by', params[:filter_by] %>
			<% end %>

			<%= text_field_tag :searchStr,  nil, placeholder: 'Escriba búsqueda...' %>
			<%= submit_tag "Buscar",  name: nil, class: "pure-button pure-button-primary" %>
		</form>

		<!-- FILTRAR -->
		<form action="<%= request.fullpath %>" method="get" class="pure-form" id="dropouts-filter">
			<% if not params[:searchStr].nil? %>
				<%= hidden_field_tag 'searchStr', params[:searchStr] %>
			<% end %>

			<%= label_tag 'filter_by', 'Filtrar por:', :style => "font-weight: bold;" %>
			<%= select_tag 'filter_by', dropouts_filter_options(params[:filter_by]).html_safe, :onchange => "this.form.submit();" %>
		</form>
	</div>

	<!-- REGISTROS -->
	<div class="dropout-block" style="width: 98%; padding-left: 2%;">
		<table id="dropout-table" class="pure-table pure-table-bordered">
			<% [155, 155, 155, 155, 155, 155, 155, 60].each do | w | %><col width="<%= w %>px"/><% end %>

			<thead>
				<tr align="center">
					<th class="order<%= (params[:order_by] == 'account_number')? ' order-active' : '' %>" orderby="account_number">
						No. DE CUENTA
					</th>
					<th class="order<%= (params[:order_by] == 'p_last_name')? ' order-active' : '' %>" orderby="p_last_name">
						APELLIDO PATERNO
					</th>
					<th class="order<%= (params[:order_by] == 'm_last_name')? ' order-active' : '' %>" orderby="m_last_name">
						APELLIDO MATERNO
					</th>
					<th class="order<%= (params[:order_by] == 'names')? ' order-active' : '' %>" orderby="names">
						NOMBRE(S)
					</th>
					<th class="order<%= (params[:order_by] == 'request_date')? ' order-active' : '' %>" orderby="request_date">
						FECHA DE SOLICITUD
					</th>
					<th class="order<%= (params[:order_by] == 'dropout_date')? ' order-active' : '' %>"	orderby="dropout_date">
						FECHA DE BAJA
					</th>
					<th class="order<%= (params[:order_by] == 'dropout_type')? ' order-active' : '' %>"	orderby="dropout_type">
						TIPO DE BAJA
					</th>
					<th></th>
				</tr>
			</thead>

			<!-- FORMULARIO PARA ORDENAR -->
			<form action="<%= request.fullpath %>" method="get" id="orderby-form">
				<% if not params[:searchStr].nil? %>
					<%= hidden_field_tag 'searchStr', params[:searchStr] %>
				<% end %>

				<% if not params[:filter_by].nil? %>
					<%= hidden_field_tag 'filter_by', params[:filter_by] %>
				<% end %>

				<%= hidden_field_tag 'order_by', '' %>
			</form>

			<tbody>

				<!-- BAJAS -->
				<% if not @dropouts.nil? %>
				<% @dropouts.each_with_index do | dropout, index | %>
					<% patient = dropout.patient %>
					<% dropout_type = dropout.patient_dropout_type %>

					<!-- REGISTRO -->
					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>" align="center">
						<td class="<%= (params[:order_by] == 'account_number')? 'c-order-active' : '' %>"><%= patient.account_number %></td>
						<td class="<%= (params[:order_by] == 'p_last_name')? 'c-order-active' : '' %>"><%= patient.p_last_name %></td>
						<td class="<%= (params[:order_by] == 'm_last_name')? 'c-order-active' : '' %>"><%= patient.m_last_name %></td>
						<td class="<%= (params[:order_by] == 'names')? 'c-order-active' : '' %>"><%= patient.names %></td>
						<td class="<%= (params[:order_by] == 'request_date')? 'c-order-active' : '' %>"><%= patient.patient_request.request_date %></td>
						<td class="<%= (params[:order_by] == 'dropout_date')? 'c-order-active' : '' %>">
							<%= dropout.created_at.strftime("%d-%m-%y") %>
						</td>
						<td class="<%= (params[:order_by] == 'dropout_type')? 'c-order-active' : '' %>"><%= dropout_type.name %></td>
						<td><div class="arrow-expand"><i class="fa fa-caret-down"></i></div></td>
					</tr>
					<!-- FIN REGISTRO -->

					<!-- INFORMACION -->
					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>">
						<td colspan="8" class="dropout-pat" style="padding: 0 0 0 0; margin: 0 0 0 0;">
							<%= render partial: "info_dropout", locals: { patient: patient, patient_dropout: dropout, dropout_type: dropout_type } %>
						</td>
					</tr>
				<% end %>
				<% end %>

				<!-- DESINTERESADOS -->
				<% if not @uninterested.nil? %>
				<% @uninterested.each_with_index do | patient, index | %>

					<!-- REGISTRO -->
					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>" align="center">
						<td class="<%= (params[:order_by] == 'account_number')? 'c-order-active' : '' %>"><%= patient.account_number %></td>
						<td class="<%= (params[:order_by] == 'p_last_name')? 'c-order-active' : '' %>"><%= patient.p_last_name %></td>
						<td class="<%= (params[:order_by] == 'm_last_name')? 'c-order-active' : '' %>"><%= patient.m_last_name %></td>
						<td class="<%= (params[:order_by] == 'names')? 'c-order-active' : '' %>"><%= patient.names %></td>
						<td class="<%= (params[:order_by] == 'request_date')? 'c-order-active' : '' %>"><%= patient.patient_request.request_date %></td>
						<td class="<%= (params[:order_by] == 'dropout_date')? 'c-order-active' : '' %>">
							<%= patient.updated_at.strftime("%d-%m-%y") %>
						</td>
						<td class="<%= (params[:order_by] == 'dropout_type')? 'c-order-active' : '' %>">Desinteresado</td>
						<td><div class="arrow-expand"><i class="fa fa-caret-down"></i></div></td>
					</tr>
					<!-- FIN REGISTRO -->

					<!-- INFORMACION -->
					<tr class="<%= 'pure-table-odd' if (index % 2 == 1) %>">
						<td colspan="8" class="dropout-pat" style="padding: 0 0 0 0; margin: 0 0 0 0;">
							<%= render partial: "info_dropout", locals: { patient: patient, patient_dropout: nil, dropout_type: nil } %>
						</td>
					</tr>
				<% end %>
				<% end %>

				<% if (not @dropouts.nil? and @dropouts.size == 0) or (not @uninterested.nil? and @uninterested.size == 0)  %>
					<tr>
						<td colspan="8" align="center" style="font-size: 14px; font-style: italic; padding-top: 9px; height: 30px;">
							NO SE HALLARON BAJAS
						</td>
					</tr>
				<% end %>
			</tbody>

			<% if not @dropouts.nil? %>
			<% if @dropouts.size > 0 %>
				<div class="table-pagination">
					<%= will_paginate @dropouts %>
				</div>
			<% end %>
			<% else %>
			<% if @uninterested.size > 0 %>
				<div class="table-pagination">
					<%= will_paginate @uninterested %>
				</div>
			<% end %>
			<% end %>
		</table>
	</div>

	<script type="text/javascript">
		$(".order").click(function() {
			var orderbyValue = $(this).attr("orderby");

			// Seleccionamos el input del formulario de ordenamiento
			var input = $("input#order_by");
			input.attr("value", orderbyValue);

			// Envia el formulario
			$("#orderby-form").submit();
		});

		$("#dropout-table").expandTable({
			toggle: "#dropout-table .arrow-expand i",
			beforeExpand: function(tr) {},
			afterExpand: function(tr) {
				var icon = $(tr).find(".arrow-expand i");
				if(icon.hasClass("fa-caret-down")) {
					icon.removeClass("fa-caret-down");
					icon.addClass("fa-caret-up");
				} else {
					icon.removeClass("fa-caret-up");
					icon.addClass("fa-caret-down");
				}
			}
		});
	</script>
<% end %>