<!-- TABLAS DE CITAS -->
<table id="appointment-table" class="pure-table pure-table-bordered">
	
	<thead align="center">
		<th># CITA</th>
		<th>FECHA</th>
		<th>HORA</th>
		<th>ASISTIO</th>
		<th>IR A CITA</th>
	</thead>

	<tbody align="center">
		<% tab_index = open_appointments(patient_record).count + 2 %>
		<% appointments.each do | appointment | %>
			<tr class="pure-table-odd">
				<td><%= appointment.number %></td>
				<td><%= appointment.date.strftime("%d-%m-%y") %></td>
				<td><%= appointment.date.strftime("%H:%M") %></td>
				<td>
					<% if appointment.attended.nil? %>
						Sin especificar
					<% else %>
						<% if appointment.attended %>
							<i class="fa fa-check-circle" style="color: #15bc08;"></i>
						<% else %>
							<i class="fa fa-times-circle" style="color: #ff0000;"></i>
						<% end %>
					<% end %>
				</td>

				<!-- LINK PARA ABRIR LA CITA -->
				<td>
					<%= link_to open_appointment_path(patient_record, appointment) + "?tab=" + params[:tab] + "&app_tab=" + tab_index.to_s do %>
						<i class="fa fa-arrow-right"></i>
					<% end %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td colspan="5" style="padding-bottom: 15px;">
				<div><%= render partial: "appointments/form" %></div>
			</td>
		</tr>
	</tbody>
</table>