<!DOCTYPE html>
<html>
	<head>
		<title>Espora</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= favicon_link_tag "favicon.ico" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<!-- CONTENEDOR PRINCIPAL -->
		<div id="ter-main-container">

			<!-- BANNER -->
			<div id="ter-header">

				<!-- LOGO -->
				<div style="width: 100%;">
					<%= image_tag("Espora.png", :class => "ter-logo") %>
				</div>

				<% if not flash[:notice].nil? and flash[:notice].is_a?(String) %>

					<!-- MENSAJES DEL TERAPEUTA -->
					<div class="alert-box success" style="width: 100%; margin: 5px 0 3px 0; padding: 10px 0px 10px 10px;" onclick="$(this).remove();">
						<%= flash[:notice] %>
					</div>
				<% end %>
			</div>

			<!-- WORKSPACE TERAPEUTA -->
			<div id="ter-tabs">
			
				<!-- OPCIONES PESTAÑA -->
				<ul id="ter-tabs-header">
					<li><a href="#perfil" style="margin-top: 8px;">
							<i class="fa fa-user-md"></i>
							<div align="center">Perfil</div>
					</a></li>

					<li><a href="#lue">
						<i class="fa fa-list" style="margin-top: 8px;"></i>
						<div align="center">Lista Única de<br>Espera (LUE)</div>
					</a></li>

					<li><a href="#fosti">
						<i class="fa fa-archive" style="margin-top: 8px;"></i>
						<div align="center">Mis Expedientes<br>(FOSTI)</div>
					</a></li>

					<% if current_therapist.role == "Coordinator" %>
						<li><a href="#add_therapist">Registra Terapeuta</a></li>
					<% end %>

					<% @open_records = open_records %>
					<% if not @open_records.nil? %>
						<!-- HEADER - EXPEDIENTES ABIERTOS -->
						<%= render partial: "patient_records/open_records_header" %>
					<% end %>

					<!-- SALIR -->
					<div id="ter-logout">
						<%= link_to destroy_therapist_session_path, method: :delete do %>SALIR<% end %>
					</div>
				</ul>

				<!-- PERFIL -->
				<div id="perfil" class="ter-panel">
					<%= yield(:profile_tab) if content_for?(:profile_tab) %>
				</div>

				<!-- LUE PANEL -->
				<div id="lue" class="ter-panel">
					<%= yield(:lue_tab) if content_for?(:lue_tab) %>
				</div>

				<!-- FOSTI PANEL -->
				<div id="fosti" class="ter-panel">
					<%= yield(:fosti_tab) if content_for?(:fosti_tab) %>
				</div>

				<% if not @open_records.nil? %>
					<!-- PANELES - EXPEDIENTES ABIERTOS -->
					<% @open_records.each do | open_record | %>
					<div id="open_record_<%= open_record.id %>" class="ter-panel open-record-panel" link-open-record="<%= havad_index_path(open_record) %>">
						<%= yield("open_record" + open_record.id.to_s) if content_for?("open_record" + open_record.id.to_s) %>
					</div>
					<% end %>
				<% end %>

				<% if current_therapist.role == "Coordinator" %>

					<!-- REGISTRAR TERAPEUTA -->
					<div id="add_therapist">
						<%= yield(:new_therapist_tab) if content_for?(:new_therapist_tab) %>
					</div>
				<% end %>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				
				$( "#ter-tabs" ).tabs({
					active: parseInt("<%= @therapist_active_tab %>"),
					beforeActivate: function( event, ui ) {

						// Siguiente panel
						var newPanel = ui.newPanel;
						var newPanelId = newPanel.attr("id");

						// PANEL AL WORKSPACE

						// Perfil
						if(newPanelId === "perfil") {
							window.location = "<%= therapist_profile_path(current_therapist.id) %>";
						}

						// LUE
						if(newPanelId === "lue") {
							window.location = "<%= lue_index_path %>";
						}

						// FOSTI
						if(newPanelId === "fosti") {
							window.location = "<%= fosti_index_path %>";
						}

						if(newPanelId.lastIndexOf("open_record") != -1) {

							// Encontramos el numero de tab
							var tabindex = 3;
							var panels = $(".open-record-panel");
							for (var i = 0; i < panels.length; i++) {
								if(newPanelId === $(panels[i]).attr("id")) {
									break;
								}
								tabindex++;
							}

							window.location = newPanel.attr("link-open-record") + "?tab=" + tabindex;
						}

						// Agregar terapeuta
						if(newPanelId === "add_therapist") {
							window.location = "<%= (current_therapist.role == 'Coordinator') ? new_therapist_path : '' %>"
						}
					}
				});

			});
		</script>
	</body>
</html>
