<!DOCTYPE html>
<html>
	<head>
		<title>Espora</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div style="font: 65% 'Trebuchet MS', sans-serif; margin: 50px;">
			
			<!-- LOGO -->
			<div>
				<%= image_tag("Espora.png", :class => "ter-logo") %>
			</div>

			<!-- WORKSPACE TERAPEUTA -->
			<div id="ter-tabs">
			
				<!-- OPCIONES PESTAÑA -->
				<ul>
					<li><a href="#perfil">Perfil</a></li>
					<li><a href="#lue">LUE</a></li>
					<li><a href="#havad">HAVAD</a></li>
					<% if current_therapist.role == "Coordinator" %>
						<li><a href="#add_therapist">Registra Terapeuta</a></li>
					<% end %>

					<!-- SALIR -->
					<div id="ter-logout">
						<%= link_to destroy_therapist_session_path, method: :delete do %>SALIR<% end %>
					</div>
				</ul>

				<!-- PERFIL -->
				<div id="perfil">
					<%= content_for?(:profile_tab) ? yield(:profile_tab) : "" %>
				</div>

				<!-- LUE PANEL -->
				<div id="lue">
					<%= content_for?(:lue_tab) ? yield(:lue_tab) : "" %>
				</div>

				<!-- HAVAD PANEL -->
				<div id="havad">
					<%= content_for?(:havad_tab) ? yield(:havad_tab) : "" %>
				</div>

				<% if current_therapist.role == "Coordinator" %>

					<!-- REGISTRAR TERAPEUTA -->
					<div id="add_therapist">
						<%= content_for?(:new_therapist_tab) ? yield(:new_therapist_tab) : "" %>
					</div>
				<% end %>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				
				$( "#ter-tabs" ).tabs({
					active: parseInt("<%= @therapist_active_tab %>"),
					beforeActivate: function( event, ui ) {

						// Siguiente panel
						var newPanel = ui.newPanel;

						// PANEL AL WORKSPACE

						// Perfil
						if( newPanel.attr( "id" ) == "perfil" ) {
							window.location = "<%= therapist_profile_path(current_therapist.id) %>";
						}

						// LUE
						if( newPanel.attr( "id" ) == "lue" ) {
							window.location = "<%= lue_index_path %>";
						}

						//HAVAD
						if( newPanel.attr( "id" ) == "havad" ) {
							window.location = "<%= havad_index_path %>";
						}

						// Agregar terapeuta
						if( newPanel.attr( "id" ) == "add_therapist" ) {
							window.location = "<%= new_therapist_path %>"
						}
					}
				});

			});
		</script>
	</body>
</html>
